# Git ignore for doums-backend

# Exclude unwanted project parts
domus_mobile/
admin-panel/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# OS
.DS_Store

# Data/Logs/Databases
uploads/
*.log
*.db
*.db-journal
*.sqlite
tables_dump.sql

# Scripts & Test Files
scratch/
seed_*.py
scratch_*.py
test_*.py
add_mock_test_final.py
sample_questions.xlsx

# Misc
*.docx

